// =======================================================================================================================
//                                        C O L O R S
// =======================================================================================================================
$color-one: #385787;
$color-two: #55C0AC;
$color-three: #F1E9B1;
$color-four: #EF9665;
$color-five: #F44267;

//
$bg-color: #55C0AC;
$text-color: rgba(0, 0, 0, 0.6);
$text-color-bright: lighten($bg-color, 42%);

//
$bg-color-mount: $text-color-bright;

// button
$button-bg-color: $color-one;
$button-color: $text-color-bright;

// header
$header-color: $text-color-bright;
$header-bg-color: $color-five;

// table
$th-bg-color: $color-four;
$th-color: $bg-color-mount;
$tr-bg-color: lighten($th-bg-color, 20%);
$tr-selected-bg-color: lighten($tr-bg-color, 5%);

// HTML
* {
    box-sizing: border-box;
}

html {
    margin-top: 2rem;
    width: 100%;
    min-height: 90%;
    color: $text-color;
    background-color: $bg-color;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
}

button {
    padding: 0.3rem 0.5rem;
    background-color: $button-bg-color;
    color: $button-color;
    border: 0;
    font-size: 90%;
}

button:hover {
    cursor: pointer;
    background-color: lighten($button-bg-color, 10%);
}

#mount {
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: $bg-color-mount;
}

// =======================================================================================================================
//                                        H E A D E R
// =======================================================================================================================
header {
    display: flex;
    justify-content: space-between;
    color: $header-color;
    background-color: $header-bg-color;
    padding: 0.5rem 1rem;
    border-bottom: 5px solid darken($header-bg-color, 20%);
    h1 {
        flex: auto;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 0;
        padding: 0;
    }
    .MenuItem {
        padding-top: 0;
        padding-bottom: 0;
        height: 100%;
        margin: auto 0 auto 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 90%;
        background-color: lighten($header-bg-color, 10%)
    }
}

// =======================================================================================================================
//                                        F O O T E R
// =======================================================================================================================
footer {
    // border-top: 5px solid darken($header-bg-color, 20%);
    width: 100%;
}

// =======================================================================================================================
//                                        M A I N
// =======================================================================================================================
.Main {
    padding: 1rem 1rem;
    min-height: 90%;
}

// =======================================================================================================================
//                                        T A B L E
// =======================================================================================================================
table {
    width: 100%;
    border-spacing: 0;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    .Filter {
        display: flex;
        justify-content: flex-end;
        input {
            padding: 0.3rem 0.5rem;
            background-color: $tr-bg-color;
            color: $text-color;
            border: 0;
            &:hover,
            &:focus {
                background-color: $tr-selected-bg-color;
                color: $text-color;
            }
            &:focus {
                outline: 0;
            }
        }
    }
}

thead {
    width: 100%;
    color: $th-color;
}

th,
td {
    text-align: left;
    font-weight: normal;
    margin: 0;
    padding: 0.5rem;
    border: 0;
}

th {
    background-color: $th-bg-color;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    text-transform: uppercase;
    border-bottom: 5px solid darken($color-four, 10%);
}

tr {
    background-color: $tr-bg-color;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
}

// ------------------- SelectableTable ------------------------------------------------------------
.SelectableTable tbody tr {
    cursor: pointer;
}

.SelectableTable tbody tr:hover {
    background-color: $tr-selected-bg-color;
}

// =======================================================================================================================
//                                        P R O G R E S S  B A R
// =======================================================================================================================
.ProgressBar {
    border: 1px solid $th-bg-color;
    .created {
        background-color: #EF9765;
    }
    .in-progress {
        background-color: #FFB891;
    }
    .finished {
        background-color: #FFD3BB;
    }
}

.RightAlign {
    display: flex;
    justify-content: flex-end;
}
